.header {
	background-color: #002345;
	position: fixed;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 150px;
}

.right-nav,
.list {
	align-self: center;
	margin-right: 20px;
}

.list {
	color: #ffffff;
}

.list :hover {
	color: #f05237;
}

.list button {
	color: #ffffff;
	background-color: transparent;
}

@media only screen and (max-width: 575px) {
	.right-nav {
		display: flex;
		flex-wrap: nowrap;
	}
}