.center {
    text-align: center;
}

.details-container {
    margin-top: 50px;
}

.detail {
    margin-bottom: 0;
}

.button-container {
    width: 300px;
    margin-top: 25px; 
}

.button-container a button {
    width: 100%;
}

@media only screen and (max-width: 579px) {
    
    .details-container {
        margin-top: 0;
    }

    .info-container {
        text-align: center;
        margin: 25px 0;
    }

    .button-container {
        display: flex; 
        width: 100%
    }

    .button-container a {
        width: 100%;
    }

    .button-container a button {
        width: 80%;
    }
}