.avatar-container {
	border-radius: 50%;
	position: relative;
    overflow: hidden;
}

.avatar-container img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.small {
    width: 80px;
    height: 80px;
}

.large {
    width: 250px;
    height: 250px;
}

.small img, .large img {
    width: 100%;
}

.icon {
	color: #002345;
}
